// brand color
$brand-color: #3CAC9E;
$brand-color-accent: #00CCB9;
$brand-color-light: #F9F9F9;
$brand-gray: #E6E9EC;
$brand-dark: #292827;

// background color
$white: #fff;
$black: #0B0D0E;

// accent color for action
$accent-blue: #5D8CF9; // for primary button or action
$accent-green: #4DD16F; // for success or positive button or action
$accent-yellow: #F5C962; // for warning button or action

// text and icon color
$text-dark: #212121;
$text-dark-medium: #666666;
$text-light: #848484;
$icon-color: #3c4859;

// Social Network Color
$facebook-color: #4564A0;
$twitter-color: #00ACED;
$linkedin-color: #1582BD;
$google-color: #D34837;


//NOTE: instruction for lighter, darken color: 3,6,9,20,33