/*****************************************************
*** Main Nav ***
*****************************************************/
#main-nav {
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  padding: 0px 0 44px;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
  webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  #navigation {
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
    &:hover {
      color: darken($brand-color, 5) !important;
    }
  }
  .menu-separator {
    border-right: 1px solid #008E81; 
 }
 .row {
     max-height: 40px;
 }
 ul {
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
  &.first--menu {
      @media (max-width: 991px) { 
      display: none;
      }
  }
  li {
    margin-right: 32px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 16px;
    &.bdr--btn {
        margin: 0;
        padding: 0;
    }
    a {
      font-family: $brand-text;
      text-decoration: none;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      font-weight: 500;
      &:hover {
        color: darken($brand-color, 15);
      }
    }
    .help {
      color: rgba(38, 39, 45, 0.4);
    }
    .btn-blue {
      color: #ffffff;
      &:hover {
        color: #ffffff;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &.left {
    text-align: left;
    margin-left: 50px;
    li {
      display: inline-block;
      padding: 9px 0;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
  &.right {
    text-align: right;
  }
 }
.logo {
  display: block;
  float: left;
  @media (max-width: 991px) { 
  margin-left: 30px;
  }
}
}


#main-nav #slide_out_menu {
  position: fixed;
  display: block;
  width: 320px;
  max-width: 650px;
  height: 100%;
  left: -380px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #26272d;
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
    overflow-y: auto;
}

#main-nav #slide_out_menu .menu-close {
    position: absolute;
    color: #ffffff;
    right: 24px;
    top: 24px;
}

#main-nav #slide_out_menu ul {
  margin-top: 0;
}
#main-nav #slide_out_menu ul {
    &.second--menu {
       @media (min-width: 576px) {
            display: none;
        }  
    } 
}


#main-nav #slide_out_menu ul li {
    display: block;
    margin: 10px 0;
    padding: 4px 0 0 0;
    height: 32px;
}

#main-nav #slide_out_menu ul li a {
    color: #ffffff;
    font-size: 12px;
}

#main-nav #slide_out_menu ul li a:hover {
  color: #01D2BF;
    text-decoration: none;
}

#main-nav #slide_out_menu ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu ul li:last-child {
  /*margin-top: 20px;*/
}

#main-nav #slide_out_menu .slide_out_menu_footer {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 40px 25px;
}

#main-nav #slide_out_menu .slide_out_menu_footer .more-info p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials {
  margin: 18px 0 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li a:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu .slide_out_menu_footer .socials li:last-child {
  margin-right: 0;
}

#main-nav #slide_out_menu.xs-screen {
  overflow-y: auto;
}

#main-nav #slide_out_menu.xs-screen ul {
  margin-top: 40px;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer {
  position: relative;
  padding: 0;
  margin-top: 40px;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .more-info p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials {
  margin: 18px 0 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li {
  display: inline-block;
  margin: 0 20px 0 0;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li a:hover {
  color: #ffffff;
}

#main-nav #slide_out_menu.xs-screen .slide_out_menu_footer .socials li:last-child {
  margin-right: 0;
}

#main-nav #slide_out_menu.open {
  left: 0;
}

#main-nav.active {
    background-color: #00B2A2;
    padding: 16px 0;
    top: 0;
  /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);*/
}

#inner-page #main-nav {
    position: fixed;
    left: 0;
    width: 100%;
    font-size: 16px;
    z-index: 10;
    background-color: #00B2A2;
    padding: 16px 0;
    top: 40px;
  }

#inner-page #main-nav.active {
  background-color: #00B2A2;
  padding: 16px 0;
  top: 0;
}